@page "/stars/{StarId:int}"

@inject IStarService StarService

<PageTitle>@(Star is null ? "" : Star.Name) | @Keywords.DefaultPageTitle</PageTitle>

@if (Star == null)
{
    <Loader/>
}
else
{
    <div class="d-flex justify-content-between">
        <h3>Hviezda <strong>@Star.Name</strong></h3>
        <a class="btn btn-outline-primary" href="@Endpoints.ClientLightCurveAdd/@Star.Id">Pridať pozorovanie</a>
    </div>

    <section>
        <h4>Údaje o hviezde</h4>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                @if (Star is {StarVariability: not null})
                {
                    <tr>
                        <th scope="row">Epocha</th>
                        <td>@Star.StarVariability.Epoch</td>
                    </tr>
                    <tr>
                        <th scope="row">Perióda</th>
                        <td>@Star.StarVariability.Period</td>
                    </tr>
                    <tr>
                        <th scope="row">Primárne minimum</th>
                        <td>@Star.StarVariability.PrimaryMinimum</td>
                    </tr>
                    <tr>
                        <th scope="row">Typ premennej hviezdy</th>
                        <td>
                            @if (Star.StarVariability.VariabilityType == VariabilityType.Intrinsic)
                            {
                                <span>Fyzikálna</span>
                            }
                            else if (Star.StarVariability.VariabilityType == VariabilityType.Extrinsic)
                            {
                                <span>Geometrická</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                    </tr>
                }
                @if (_primaryStarCatalog is not null)
                {
                    <tr>
                        <th scope="row">RA</th>
                        <td>@_primaryStarCatalog.Ra (@_primaryStarCatalog.CatalogId)</td>
                    </tr>
                    <tr>
                        <th scope="row">DEC</th>
                        <td>@_primaryStarCatalog.Dec (@_primaryStarCatalog.CatalogId)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h4>Prítomnosť hviezdy v katalógoch</h4>
        @if (Star is {StarCatalogs: not null, StarCatalogs.Count: > 0})
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Katalóg</th>
                        <th scope="col">
                            RA
                        </th>
                        <th scope="col">
                            DEC
                        </th>
                        <th scope="col">
                            MAG
                        </th>
                        <th scope="col">
                            Cross-ID
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var sc in Star.StarCatalogs)
                    {
                        <tr>
                            <th scope="row">@sc.CatalogId</th>
                            <td>@sc.Ra</td>
                            <td>@sc.Dec</td>
                            <td>@sc.Mag</td>
                            <td>@sc.CrossId</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h4>Táto hviezda sa nenachádza v žiadnych katalógoch.</h4>
        }
    </section>

    <section>
        <h4> Pozorovanie tejto hviezdy</h4>
        @if (Star.LightCurves.Count == 0)
        {
            <h5>
                Táto hviezda nemá žiadne pozorovania.
            </h5>
        }
        else
        {
            <ul>
                @foreach (var curve in Star.LightCurves)
                {
                    <li>
                        <a href="@Endpoints.ClientLightCurveGetSingle/@curve.Id"> @curve.Id (@curve.User.Name) </a>
                    </li>
                }
            </ul>
        }
    </section>
}

@code {

    [Parameter]
    public int StarId { get; set; }

    private StarDTO? Star { get; set; }
    private StarCatalog? _primaryStarCatalog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await StarService.GetStarAsync(StarId);
        if (response.Success)
        {
            Star = response.Data;
            _primaryStarCatalog = Star.StarCatalogs.Where(sc => sc.Primary).FirstOrDefault();
        }
    }

}