@page "/stars/{StarId:int}"

@inject IStarService StarService

<PageTitle>@(Star is null ? "" : Star.Name) | @Keywords.DefaultPageTitle</PageTitle>

@if (Star == null)
{
    <Loader/>
}
else
{
    <div class="d-flex justify-content-between">
        <h3>Hviezda <strong>@Star.Name</strong></h3>
        <a class="btn btn-outline-primary" href="@Endpoints.ClientLightCurveAdd/@Star.Id">Pridať pozorovanie</a>
    </div>


    <h4>Pozorovanie tejto hviezdy</h4>
    @if (Star.LightCurves.Count == 0)
    {
        <h4>Táto hviezda nemá žiadne pozorovania.</h4>
    }
    else
    {
        <ul>
            @foreach (var curve in Star.LightCurves)
            {
                <li>
                    <a href="@Endpoints.ClientLightCurveGetSingle/@curve.Id">@curve.Value</a>
                </li>
            }
        </ul>
    }
}

@code {

    [Parameter]
    public int StarId { get; set; }

    private StarDTO? Star { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Star = await StarService.GetStarAsync(StarId);
    }

}