@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorageService
@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <CustomNavMenu/> *@
@*     </div> *@
@* *@
@*     <main> *@
@*         <div class="top-row px-4"> *@
@*             <a href="/swagger/index.html">API Ref</a> *@
@*         </div> *@
@* *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@
@* *@
@* <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/> *@
@* <MudDialogProvider/> *@
@* <MudSnackbarProvider/> *@


<MudThemeProvider Theme="Theme" @bind-IsDarkMode="IsDarkMode"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        Var Astro
    </MudAppBar>
    <MudDrawer @bind-Open="@DrawerOpen" Class="text-center">
        <CustomNavMenu/>
        <div class="d-flex align-items-center justify-content-center">
            <MudIcon Icon="@Icons.Filled.LightMode"/>
            <MudSwitch @bind-Checked="IsDarkMode" Color="Color.Primary" Class="ma-4" T="bool"/>
            <MudIcon Icon="@Icons.Filled.DarkMode"/>
        </div>

    </MudDrawer>
    <MudMainContent>
        <MudContainer Class="mt-5">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {

    private MudTheme Theme { get; set; } = new();

    private bool IsDarkMode { get; set; } = true;

    private bool DrawerOpen { get; set; } = true;

    void DrawerToggle()
    {
        DrawerOpen = !DrawerOpen;
    }

    // private async Task SaveToLocalStorage(bool value)
    // {
    //     await LocalStorageService.SetItemAsync(Keywords.DarkMode, value);
    // }

    // protected override async Task OnInitializedAsync()
    // {
    //     var item = await LocalStorageService.ContainKeyAsync(Keywords.DarkMode);
    //     if (item)
    //     {
    //         IsDarkMode = item;
    //     }
    // }

}