@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VarAstroMasters</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Domov
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Endpoints.ClientObservationLogListGet">
                <span class="oi oi-layers" aria-hidden="true"></span> Pozorovacie denníky
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Endpoints.ClientSearch">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Vyhľadávanie
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Endpoints.ClientStarListGet">
                <span class="oi oi-star" aria-hidden="true"></span> Hviezdy
            </NavLink>
        </div>

        <NavDropdown Title="Moje Hviezdy" Icon="fire">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@Endpoints.ClientStarDraftListGet">
                    <span class="oi oi-list" aria-hidden="true"></span> Zoznam mojich hviezd
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@Endpoints.ClientStarDraftPost">
                    <span class="oi oi-plus" aria-hidden="true"></span> Pridať novú hviezdu
                </NavLink>
            </div>
        </NavDropdown>

        <NavDropdown Title="Krivky" Icon="project">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@Endpoints.ClientLightCurveListGet">
                    <span class="oi oi-list" aria-hidden="true"></span> Zoznam kriviek
                </NavLink>
            </div>
        </NavDropdown>

        <AuthorizeView Roles="Administrator">
            <Authorized>
                <NavDropdown Title="Administrácia" Icon="lock-locked">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@Endpoints.ClientAdminStars">
                            <span class="oi oi-list" aria-hidden="true"></span> Hviezdy
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@Endpoints.ClientAdminCatalogs">
                            <span class="oi oi-list" aria-hidden="true"></span> Katalógy
                        </NavLink>
                    </div>
                </NavDropdown>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <NavDropdown Title="Zariadenia" Icon="aperture">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@Endpoints.ClientDeviceListGet">
                            <span class="oi oi-list" aria-hidden="true"></span> Zoznam zariadení
                        </NavLink>
                    </div>
                </NavDropdown>
                <NavDropdown Title="Hvezdárne" Icon="location">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@Endpoints.ClientObservatoryListGet">
                            <span class="oi oi-list" aria-hidden="true"></span> Zoznam hvezdární
                        </NavLink>
                    </div>
                </NavDropdown>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Endpoints.ClientUserProfile">
                        <span class="oi oi-person" aria-hidden="true"></span> Profil
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <button class="nav-link" @onclick="HandleLogOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Odhlásenie
                    </button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Endpoints.ClientAuthLogIn">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Prihlásenie
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Endpoints.ClientAuthRegister">
                        <span class="oi oi-plus" aria-hidden="true"></span> Registrácia
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogOut()
    {
        if (await LocalStorageService.ContainKeyAsync(Keywords.JWT_Bearer_Token))
        {
            await LocalStorageService.RemoveItemAsync(Keywords.JWT_Bearer_Token);
            ((AppAuthStateProvider)AuthenticationStateProvider).LogOut();
        }

        StateHasChanged();
        NavigationManager.NavigateTo("/");
    }

}