@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VarAstroMasters</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Domov
            </NavLink>
        </div>

        <NavDropdown Title="Hviezdy">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@Endpoints.ClientStarGetAll">
                    <span class="oi oi-star" aria-hidden="true"></span> Zoznam hviezd
                </NavLink>
            </div>
        </NavDropdown>

        <NavDropdown Title="Krivky">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@Endpoints.ClientLightCurveGetAll">
                    <span class="oi oi-lightbulb" aria-hidden="true"></span> Zoznam kriviek
                </NavLink>
            </div>
        </NavDropdown>
        <AuthorizeView>
            <Authorized>
                <NavDropdown Title="Zariadenia">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@Endpoints.ClientDeviceList">
                            <span class="oi oi-lightbulb" aria-hidden="true"></span> Zoznam zariadení
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@Endpoints.ClientDeviceAdd">
                            <span class="oi oi-lightbulb" aria-hidden="true"></span> Pridať zariadenie
                        </NavLink>
                    </div>
                </NavDropdown>
                <NavDropdown Title="Hvezdárne">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@Endpoints.ClientObservatoriesList">
                            <span class="oi oi-lightbulb" aria-hidden="true"></span> Zoznam hvezdární
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@Endpoints.ClientObservatoriesAdd">
                            <span class="oi oi-lightbulb" aria-hidden="true"></span> Pridať hvezdáreň
                        </NavLink>
                    </div>
                </NavDropdown>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Endpoints.ClientUserProfile">
                        <span class="oi oi-person" aria-hidden="true"></span> Profil
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <button class="nav-link" @onclick="HandleLogOut">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Odhlásenie
                    </button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Endpoints.ClientAuthLogIn">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Prihlásenie
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Endpoints.ClientAuthRegister">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Registrácia
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogOut()
    {
        if (await LocalStorageService.ContainKeyAsync(Keywords.JWT_Bearer_Token))
        {
            await LocalStorageService.RemoveItemAsync(Keywords.JWT_Bearer_Token);
            ((AppAuthStateProvider)AuthenticationStateProvider).LogOut();
        }

        StateHasChanged();
        NavigationManager.NavigateTo("/");
    }

}