<div class="@CurveLayout mb-3 @(Display ? "" : "d-none")">
    <div class="card">
        <div class="card-body">
            <span class="text-black">
                Objekt
                <MudLink Href="@($"{Endpoints.ClientStarSingleGet}/{Curve.Star.Id}")">
                    @Curve.Star.Name
                </MudLink>
            </span>
            <br/>
            <span class="text-black">
                Pozorovanie pridané
                <MudLink Href="@($"{Endpoints.ClientLightCurveSingleGet}/{Curve.Id}")">
                    @Curve.DateCreated.ToString(Keywords.DefaultDateTimeFormat)
                </MudLink>
            </span>
            <br/>
            <span class="text-black">
                Autor
                <MudLink Href="@($"{@Endpoints.ClientObservationLogSingleGet}/{@Curve.User.Id}")">@Curve.User.Name</MudLink>
            </span>
            <br/>
            @if (Curve.Device is not null)
            {
                <span class="text-black">
                    <span class="oi oi-aperture"></span>
                    @Curve.Device.Name
                </span>
                <br/>
            }
            @if (Curve.Observatory is not null)
            {
                <span>
                    <span class="oi oi-aperture"></span>
                    @Curve.Observatory.Address
                </span>
                <br/>
            }
            @if (Curve.ValuesFinishedLoading)
            {
                @if (Curve.Values is not null)
                {
                    <ScatterChart Values="@Curve.Values" StarName="@Curve.Star.Name"/>
                }
                else
                {
                    <Alert type="@Keywords.AlertDanger">
                        @Keywords.CurveNotPublished
                    </Alert>
                }
            }
            else
            {
                <Loader/>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public bool Display { get; set; }

    [Parameter]
    public LightCurveDTO Curve { get; set; }

    [Parameter]
    public string CurveLayout { get; set; } = "col-lg-6 col-xl-4";


    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

}