<div class="@CurveLayout mb-3">
    <div class="card">
        <div class="card-body">
            <span>
                Pozorovanie pridané
                <a href="@Endpoints.ClientLightCurveSingleGet/@Curve.Id">
                    @Curve.DateCreated.ToString(Keywords.DefaultDateTimeFormat)
                </a>
            </span>
            <br/>
            <span>
                Autor
                <a href="@Endpoints.ClientObservationLogSingleGet/@Curve.User.Id">@Curve.User.Name</a>
            </span>
            <br/>
            @if (Curve.Device is not null)
            {
                <span>
                    <span class="oi oi-aperture"></span>
                    @Curve.Device.Name
                </span>
                <br/>
            }
            @if (Curve.Observatory is not null)
            {
                <span>
                    <span class="oi oi-aperture"></span>
                    @Curve.Observatory.Address
                </span>
                <br/>
            }
            @if (Curve.ValuesFinishedLoading)
            {
                @if (Curve.Values is not null)
                {
                    <ScatterChart Values="@Curve.Values"/>
                }
                else
                {
                    <Alert type="@Keywords.AlertDanger">
                        @Keywords.CurveNotPublished
                    </Alert>
                }
            }
            else
            {
                <Loader/>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public bool IsCard { get; set; }

    [Parameter]
    public LightCurveDTO Curve { get; set; }

    [Parameter]
    public string CurveLayout { get; set; } = "col-lg-6 col-xl-4";

}