<MudSimpleTable Striped="@true" Hover="true" Loading="@Loading" T="StarDTO">
    <tbody>
    @if (Data is {StarVariability: not null})
    {
        <tr>
            <th scope="row">Epocha</th>
            <td>@Data.StarVariability.Epoch</td>
        </tr>
        <tr>
            <th scope="row">Perióda</th>
            <td>@Data.StarVariability.Period</td>
        </tr>
        <tr>
            <th scope="row">Primárne minimum</th>
            <td>@Data.StarVariability.PrimaryMinimum</td>
        </tr>
        <tr>
            <th scope="row">Typ premennej hviezdy</th>
            <td>
                @if (Data.StarVariability.VariabilityType == VariabilityType.Intrinsic)
                {
                    <span>Fyzikálna</span>
                }
                else if (Data.StarVariability.VariabilityType == VariabilityType.Extrinsic)
                {
                    <span>Geometrická</span>
                }
                else
                {
                    <span>-</span>
                }
            </td>
        </tr>
    }
    @if (Data is {StarPublish: not null})
    {
        <tr>
            <th scope="row">Objavená</th>
            <td>@Data.StarPublish.Year</td>
        </tr>
        <tr>
            <th scope="row">Objaviteľ</th>
            <td>@Data.StarPublish.Discoverer</td>
        </tr>
        <tr>
            <th scope="row">Odkaz na publikáciu</th>
            <td>
                <a href="/@Data.StarPublish.PublicationLink" target="_blank" rel="noopener noreferrer">@Data.StarPublish.PublicationLink</a>
            </td>
        </tr>
    }
    <tr>
        <th scope="row">RA</th>
        <td>
            <MudChip Color="Color.Info">
                @Data.RA (astrometria)
            </MudChip>
            @if (PrimaryStarCatalog is not null)
            {
                <MudChip>
                    @PrimaryStarCatalog.Ra (@PrimaryStarCatalog.CatalogId)
                </MudChip>
            }
        </td>
    </tr>
    <tr>
        <th scope="row">DEC</th>
        <td>
            <MudChip Color="Color.Info">
                @Data.DEC (astrometria)
            </MudChip>
            @if (PrimaryStarCatalog is not null)
            {
                <MudChip>
                    @PrimaryStarCatalog.Dec (@PrimaryStarCatalog.CatalogId)
                </MudChip>
            }
        </td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public StarDTO Data { get; set; } = new();

    private StarCatalog? PrimaryStarCatalog { get; set; }

    protected override void OnInitialized()
    {
        PrimaryStarCatalog = Data.StarCatalogs.FirstOrDefault(sc => sc.Primary);
    }


}