@inject NavigationManager NavigationManager

<MudTable Striped="@true" Class="table-row-cursor" Items="Data" Hover="true" Loading="@Loading" T="StarDTO" OnRowClick="@RowClicked">
    <HeaderContent>
        <MudTh>Názov</MudTh>
        <MudTh>RA</MudTh>
        <MudTh>DEC</MudTh>
        <MudTh>Cross ID</MudTh>
        <MudTh>Používateľské označenie</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Názov">
                @context.Name
        </MudTd>
        <MudTd DataLabel="RA">@context.RA</MudTd>
        <MudTd DataLabel="DEC">@context.DEC</MudTd>
        <MudTd DataLabel="Cross ID">
            @context.StarCatalogs?.First().CrossId (@context.StarCatalogs?.First().CatalogId)
        </MudTd>
        <MudTd>
            @if (@context is {Identification.Count: 1})
            {
                @context.Identification.First().UserIdentification
            }
            else
            {
                <span>-</span>
            }
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public List<StarDTO> Data { get; set; } = new();

    public void RowClicked(TableRowClickEventArgs<StarDTO> c)
    {
        NavigationManager.NavigateTo($"{Endpoints.ClientStarSingleGet}/{c.Item.Id}");
    }

}