@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient HttpClient
@using Blazored.LocalStorage
@using System.Net.Http.Headers

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <h3>K tejto stránke nemáte prístup!</h3>
                    <h5>Prosím, <a href="/login">prihláste sa</a> alebo si <a href="/register">vytvorte účet</a>.</h5>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Stránka nenájdená | @Keywords.DefaultPageTitle</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Na tejto adrese nič neexistuje.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (await LocalStorageService.ContainKeyAsync("bearerToken"))
        {
            var savedToken = await LocalStorageService.GetItemAsync<string>("bearerToken");

            await ((AppAuthStateProvider)AuthenticationStateProvider).LogIn();

            HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", savedToken);

            StateHasChanged();
        }
    }
}