@page "/ObservationLogs/{Id}"
@inject ILightCurveService LightCurveService

@if (Log is null)
{
    <Loader/>
}
else
{
    <h3>
        Pozorovací denník @Log.User.Name
    </h3>
    <MudCard>
        <MudCardContent>
            @if (LightCurves is null)
            {
                <Loader/>
            }
            else
            {
                if (Log.Curves.Count == 0)
                {
                    <p>Tento denník nemá žiadne pozorovania.</p>
                }
                else
                {
                    // 
                    <MudSelect Class="mb-3" T="int" MultiSelection="false" SelectedValuesChanged="(e) => HandleFilter(e.First())" Label="Filtrovať podľa názvu hviezdy">
                        <MudSelectItem T="int" value="@Keywords.DefaultFilter">Všetky</MudSelectItem>
                        @foreach (var star in Log.DistinctStars)
                        {
                            <MudSelectItem T="int" value="@star.Id">@star.Name</MudSelectItem>
                        }
                    </MudSelect>
                    <LightCurveListWithValues Curves="@FilteredCurves"/>
                }
            }
        </MudCardContent>
    </MudCard>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private ObservationLogDetailDTO? Log { get; set; }
    private List<LightCurveDTO>? LightCurves { get; set; }
    private List<LightCurveDTO>? FilteredCurves { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await LightCurveService.GetObservationLog(Id);
        if (response is {Success: true, Data: not null})
        {
            Log = response.Data;
            LightCurves = response.Data.Curves;
            HandleFilter(Keywords.DefaultFilter);
            GetValuesForCurves();
        }
    }

    private void HandleChange(ChangeEventArgs e)
    {
        Console.WriteLine("chanmge");
        HandleFilter(int.Parse(e.Value.ToString()));
    }

    private void HandleFilter(int starId)
    {
        Console.WriteLine(starId);
        if (starId == Keywords.DefaultFilter)
        {
            FilteredCurves = LightCurves;
        }
        else
        {
            FilteredCurves = LightCurves.Where(lc => lc.StarId == starId).ToList();
            Console.WriteLine(FilteredCurves.First().StarId);
        }
        StateHasChanged();
    }

    private async Task GetValuesForCurves()
    {
        if (LightCurves is null) return;
        foreach (var curve in LightCurves)
        {
            if (!PublishHelper.CanShareCurve(curve.PublishVariant))
            {
                curve.ValuesFinishedLoading = true;
                continue;
            }
            var response = await LightCurveService.LightCurveSingleValuesGet(curve.Id);
            curve.ValuesFinishedLoading = true;
            if (response.Success)
            {
                curve.Values = response.Data;
                StateHasChanged();
            }
        }
    }


}